<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JayKayDesign.MailEnable.LetsEncrypt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <JayKayDesign.MailEnable.LetsEncrypt.Properties.Settings>
      <setting name="ValidMailHosts" serializeAs="String">
        <value>smtp,imap,mail,pop,pop3</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>add your email server IPhere</value>
      </setting>
      <setting name="WebsitePath" serializeAs="String">
        <value>C:\inetpub\wwwroot\mailenableletsencrypt</value>
      </setting>
      <setting name="MainDomain" serializeAs="String">
        <value>your main MailEnable domain name</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>C:\mailenableletsencrypt</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>The contact email provided to LetEncrypt</value>
      </setting>
      <setting name="RSAKeyBits" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="AdditionalMailHosts" serializeAs="String">
        <value>addional domains not listed in MailEnable (webmail/etc.)</value>
      </setting>
      <setting name="CreateNewWebsite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExistingWebsiteName" serializeAs="String">
        <value>MailEnable WebMail</value>
      </setting>
      <setting name="ExistingWebsiteTlsHost" serializeAs="String">
        <value>host name of existing website where certificates are validated (should be the ME webmail domain)</value>
      </setting>
      <setting name="ScheduledTaskName" serializeAs="String">
        <value>LetsEncryptMailEnableRefresh</value>
      </setting>
      <setting name="RefreshIntervalDays" serializeAs="String">
        <value>60</value>
      </setting>
    </JayKayDesign.MailEnable.LetsEncrypt.Properties.Settings>
  </userSettings>
  <appSettings>
  </appSettings>
</configuration>
